# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.mjpeg

tasks.json
build.sh
deploy.sh
.DS_Store
sdkconfig.old
air_firmware/build
.vscode
/air_firmware/sdkconfig.dev
gs/gs.ini
release
components/build